.TopContainer {
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-radius: 15px;
  background: rgba(98, 98, 98, 1);
  margin: 30px;
  padding: 35px;
  width: auto;
  height: auto;
}
.Heading {
  margin: 30px;
  color: white;
}
.Child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* margin: 20px; */
}

.BottomContainer {
  display: flex;
  margin: 10px;
  padding: 20px;
  width: auto;
  height: auto;
}

.BottomChild1 {
  width: 60vw;
  margin: 20px;
}

.BottomChild2 {
  width: 40vw;
  margin: 20px;
}


@media (max-width: 390px) {
  .BottomChild1 {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .BottomChild1 {
    width: 90%;
    height: 70%;
  }
}
@media (max-width: 480px) {
  .BottomChild2 {
    width: 90%;
  }
}

@media (max-width: 1070px) {
  .BottomChild1 {
    width: 90%;
   
  }
}
@media (max-width: 1070px) {
  .BottomChild2 {
    width: 90%;
  }
}


@media (max-width: 1280px) {
  .BottomChild1 {
    width: 90%;
  }
}
@media (max-width: 1280px) {
  .BottomChild2 {
    width: 90%;
  }
}



@media (max-width: 1280px) {
  .TopContainer {
    gap: 20px;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .BottomContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (max-width: 1070px) {
  .TopContainer {
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .BottomContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 480px) {
  .TopContainer {
    gap: 20px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .BottomContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }
}